#user_nav {
	height: 15px;
	width: 900px;
	margin: -270px auto 0px auto;
	text-align: right;
}
#foto_stream{
	width: 400px;
}
.foto_stream_item {
	margin-bottom: 10px;
}

.foto_avatar_col {
	width: 100px;
	text-align: center;
}

.foto_col {
	width: 300px;
}

.comment_item {
	margin-bottom: 5px;
}

.comment_avatar_col {
	width: 50px;
	text-align: center;
}

.comment_col {
	width: 250px;	
}

.comment_new {
	margin-left: 50px;
}

.float_right {
	float: right;
}

.float_left {
	float: left;
}

/*--------sidebar--------*/

 #sidebar {
 	width: 225px;
}
#followers {
	background: #f00;
	margin-bottom: 15px;
}
#followed {
	background: #f00;
}
