@charset "utf-8";
* {
	margin:0px;
	padding:0px;
}

#top_bg {
	height: 200px;
	background: url(../images/header.gif) repeat-x;
}

#top_strip {
	height: 70px;
	background: url(../images/header1.gif) repeat-x;
}

#wrapper {
	margin: -15px auto 0px auto;
	width: 900px;
	background: url(../images/bg.png) no-repeat 0px 270px;
}

#top_nav {
	height: 270px;
	width: 900px;
	background: url(../images/oben.png) no-repeat 100px 150px;
	overflow: hidden;
}

#main {
	min-height: 400px;
	margin-top: -62px;
	width: 900px;
	background: url(../images/content_bg.png) repeat-y 100px 0px;
	float: right;
}

#side_menue {
	width: 100px;
	float: left;
	margin-left:-40px;
	position:absolute;
	z-index:1;
}

#content {
	margin-left: 100px;
	padding: 0px 25px 0px 25px;
	width: 650px;
	
	
}

.clr {
	clear: both;
}

#unten {
	height: 70px;
	width: 900px;
	background: url(../images/unten.png) no-repeat 100px 0px;
	overflow: hidden;
}

#footer {
	margin-top:-10px;
	height:100px;
    clear:left;
    background:#efefef repeat-x;
    text-align:center;
}

img#logo{
	height:151px; width:150px;
	margin-left:100px; margin-top:15px;
}

#menu {
	margin: 0 20%;
	margin-top:-190px;	
}

#menu ul li {
	list-style: none;
	float: left;
	padding-right:20px;
	margin-top:50px;
}

#menu ul li a {
	color:#988b78;
	text-decoration:none;
}

#menu ul  {
	margin-left:100px;
	margin-top:20px;
}

#menu ul li a:hover {
	color:#000;
	text-decoration:none;
}

#menu ul li a:hover .bold  {
	color:#666;
	text-decoration:none;
}

.bold {
	color:#a9844a;
	font-weight:bold;
	font-size:18px;
}

#side_menue {
margin-top:100px;
}

#side_menue ul {
list-style: none;
}

#side_menue .fav, #side_menue .profil, #side_menue .rankings {
	display: block;
}

#side_menue .fav {
background-image:url(../images/button1.png);
width:160px; height:57px;	
}

#side_menue .profil {
background-image:url(../images/button2.png);
width:159px; height:51px;
}

#side_menue .rankings {
background-image:url(../images/button3.png);
width:157px; height:49px;	
}