<div id="sidebar" class="float_right">
  <%= render 'layouts/current_image' %>
  <br/>
  <%= render 'facebook_like' %>
</div>

<h1>About Snups</h1>

<div id="foto_stream">
  <p>
    Snups is a Project, that was created at the University of Applied Sciences in Salzburg. It was a corporation of the courses Multimedia Technology, for the Programming part and Multimedia Art, for the Design part. The Project itself is a Open Source Project which's sourcecode you can find on <a href="https://github.com">https://github.com</a> in the Repository => <i>git@github.com:wolli2710/snups.git</i><br/><br/>
    Snups ist ein Fächer- und Studiengangsübergreifendes Projekt das an der FH Salzburg entstanden ist. Die Programmierung der Webapplikation und der Mobileapplikation wurde von Studierenden des Studiengangs Multimedia Technology umgesetzt. Das Design wurde von Studierenden des Studiengangs Multimedia Art erstellt. Das Projekt Snups ist ein Open Source Projekt, dessen Sourcecode man auf <a href="https://github.com">https://github.com</a> im Repository => <i>git@github.com:wolli2710/snups.git</i> finden kann.
  </p>
</div>