<div id="sidebar" class="float_right">
	<%= render 'layouts/current_image' %>
	<br/>
	<%= render 'facebook_like' %>
</div>

<h1>My Favorites</h1>
<p>Here I can see all the pics taken by my friends I'm following!</p>
<br />

<%= render 'fotostream', { :personalization => true } %>

<%= render 'pagination', { :pagination_path => favorites_path, :id_is_needed => false } %>