<h1>My Favorites</h1>
<p>Here I can see all the pics taken by my friends I'm following!</p>
<br />

<%= render 'fotostream', { :showAvatar => true } %>

<%= render 'pagination', { :pagination_path => favorites_path } %>