<h1>Gallery</h1>



<% @image_mission_id.each do |image_mission| %>
	<% counter = 15 %>
	<% @image_count.each do |i| %>
		<% if i[:mission_id].to_i == image_mission.mission.id %>
			<% if counter < 60 %>
				<% counter += 1 %>
			<% end %>
		<% end %>
	<% end %>
		<%= link_to image_mission.mission.title, gallery_path() + '?title=' + image_mission.mission.title, 
		:style => "font-size:" + counter.to_s + "px", :class => "tag_cloud" %>

<% end %>

<br/>

<% @gallery_images.each do |image| %>
		<a href="/images/upload/<%= image.nameHash %>_high.jpg" class="lightbox">
	        <%= image_tag( "upload/" + image.nameHash + "_low.jpg", :class => "gallery_images" )%>
		</a>
<% end %>