<h1>Home</h1>

<ul>
<% @users.each do |user| %>
	<li>
			<%= image_tag user.gravatar_url %>
			<%= user.email %>
	</li>
<% end %>

<% @missions.each do |mission| %>
	<li>
	  <%= mission.title %>
	</li>
<%end%>


<% @images.each do |image| %>
	<li>
	  <%= image.user_id %>
	</li>
<%end%>



</ul>
<p>Find me in app/views/home/index.html.erb</p>
