<div id="sidebar" class="float_right">
	<%= render 'layouts/current_image' %>
	<br/>
	<iframe src="http://www.facebook.com/plugins/like.php?href=http://franzonrails.multimediatechnology.at&amp;layout=standard&amp;show_faces=true&amp;width=220&amp;action=like&amp;font=verdana&amp;colorscheme=light&amp;height=80" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:220px; height:80px;" allowTransparency="true"></iframe>
</div>

<h1>Snups - Home</h1>

<%= render 'fotostream', { :showAvatar => true } %>

<%= render 'pagination', { :pagination_path => home_path } %>