<h1>Home</h1>
<ul>
    <% @images.each do |image| %>
    <li>
    	<%= image_tag User.find(image.user_id).gravatar_url %>
    	<% i = image.nameHash + "_medium.jpg" %>
        <%= image_tag i %>
    </li>
    <% end %>
</ul>
<p>
    Find me in app/views/home/index.html.erb
</p>
