<div id="sidebar" class="float_right">
	<%= render 'layouts/current_image' %>
	<br/>
	<%= render 'facebook_like' %>
</div>

<h1>Snups - Home</h1>

<%= render 'fotostream', { :personalization => true } %>

<%= render 'pagination', { :pagination_path => home_path, :id_is_needed => false } %>