<div id="sidebar" class="float_right">
	<%= render 'layouts/current_image' %>
</div>

<h1>Snups - Home</h1>

<%= render 'fotostream', { :showAvatar => true } %>

<%= render 'pagination', { :pagination_path => home_path } %>