<div id="sidebar" class="float_right">
  <%= render 'layouts/current_image' %>
  <br/>
  <%= render 'facebook_like' %>
</div>

<h1>Imprint</h1>
<br/>
<p>
  FH-Salzburg<br/>
  Urstein Süd 1<br/>
  A-5412 Puch/Salzburg<br/>
</p>
<br/>
<h2>Web programming:</h2>
<p>
    Franz Torghele<br/>
    f.torghele[ät]gmail.com
</p>
<p>
    Wolfgang Vogl<br/>
    wolfgang.vogl01[ät]gmail.com
</p>
<br/>
<h2>Design:</h2>
<p>
    Manuel Lehrmayer<br/>
    mlehermayr.mma-b2009[ät]fh-salzburg.ac.at 
</p>
<p>
    Serkan Zararsiz<br/>
    szararsiz.mma-b2009[ät]fh-salzburg.ac.at 
</p>
<p>
    Dominik Wiesauer<br/>
    dwiesauer.mma-b2009[ät]fh-salzburg.ac.at 
</p>
<br/>
<h2>Mobile programming:</h2>
<p>
    Franz Torghele<br/>
    f.torghele[ät]gmail.com
</p>
<p>
    Andreas Stallinger<br/>
    astallinger[ät]gmail.com
</p>
<p>
    Franz Josef Lanzendorfer<br/>
    flanzendorfer.mmt-b2009[ät]fh-salzburg.ac.at 
</p>
<br/>
<p>
  A Project by Students of the <a href="http://www.fh-salzburg.ac.at/">University of Applied Sciences in Salzburg</a>
</p>