<div id="sidebar" class="float_right">
  <%= render 'layouts/current_image' %>
  <br/>
  <%= render 'facebook_like' %>
</div>

<div id="foto_stream">
    <h1>Terms of Service</h1>
    <br/>
    <h2>Using Snups</h2>
    <p>
        Snups is a free Service which could be used by everybody.<br/>
        By using Snups you agree the following terms:
        <ul>
            <li>
                If you want to use Snups you have to register with your own e-mail adress.
            </li>
            <li>
                By using Snups with your Mobile Device you agree that the Images you load up stand under a Creative Common Licence:<br/>
                <a rel="license" href="http://creativecommons.org/licenses/by/3.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/3.0/88x31.png" /></a><br/>
                <a rel="license" href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0 Unported License</a>.
            </li>
            <li>
                By using Snups with your Mobile Device costs of data transfers could be charged by your mobile service provider.
            </li>
            <li>
                We reccomend to use the Service only by a data transfer flatrate contract.
            </li>
            <li>
                If you have to pay any charges to your mobile service provider we don't replace any of your costs!
            </li>
            <li>
                It is not allowed to load up images with any racialistic, sexist or any criminal content.
            </li>
            <li>
                It is not allowed to load up images with any protected content (Artwork, third-party photographies...).
            </li>
            <li>
                It is not allowed to load up images that could harm other peoples privacy.
            </li>
            <li>
                By breaking the terms we would delete your account immediatly.
            </li>
            <li>
                We are not liable for the Content on any images uploaded by our users.
            </li>
            <li>
                Every User is responsible for the content on his/her images.
            </li>
            <li>
                Parents are liable for their children.
            </li>
            <li>
                We allow the use of our service for children by the agreement of their parents, but parents should notice that this is a public platform which could contain unsuitable content for children.
            </li>
        </ul>
    </p>
</div>
