<div id="sidebar" class="float_right">
	<%= render 'layouts/current_image' %>
</div>

<h1>Tutorial</h1>
<br/>


<video id="player1" width="400" height="300" controls="control" preload="none">
	
	<source src="video/tutorial.mp4" type="video/mp4" />
	<source src="video/tutorial.ogg" type="video/ogg" />				
	<embed src="video/tutorial.mp4" type="application/x-shockwave-flash" width="400" height="300"
	allowscripaccess="always" allowfullscreen="false"></embed>

</video>

<br/>
<br/>
	<h2>Welcome to the Snups tutorial!</h2>
<ul>
	<li>First you hit the Registrationbutton to sign up.</li>
	<li>After Sign up you can go to the android market and download Snups.</li>
	<li>Open the app on your mobilephone and login.</li>
	<li>When you are logged in you get a new mission.</li>
	<li>If you don't like your current mission you can press the "new mission" button</li>
	<li>Otherwise you can push the "play" button</li>
	<li>Then you see through your camera and can take a picture which fits your topic</li>
	<li>After you have taken your picture you can either choose take new picture or upload your current image.</li>
</ul>



