<h1>Snups - Administration</h1>
<br />
<p><%= link_to "Admins", admins_path %> - 
   <%= link_to "Missions", missions_path %> - 
   <%= link_to "Comments", comments_path %> - 
   <%= link_to "Images", images_path %></p>
<br />