<div id="current_oben"></div>
<div id="current_content">
	<div id="current_image"><%= image_tag @random_image %></div>
	<div class="gallery"><a href="<%= gallery_path() %>">...go to Gallery</a></div>
</div>
<div id="current_unten"></div>
